/* all common css start  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
img{
    padding: 0;
    margin: 0;
}

.container {
    width: 1320px;
    margin: 0 auto;
}

/* all common css end */

/* top header part start  */
#topHeaderpart {
    padding-bottom: 35px;
}

.topheaderFlex {
    display: flex;
    justify-content: space-between;
}

.topheaderlogo {
    padding-top: 27px;
}

.topheaderMenu {
    padding-top: 41px;
}

.topheaderMenu ul li {
    display: inline-block;
}

.topheaderMenu ul li a {
    padding: 0 30px;
    font-size: 16px;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    transition: .4s;
}

.topheaderMenu ul li a:hover {
    color: burlywood;
}

.topheaderIcon {
    padding-top: 49px;
}

.topheaderIcon a {
    padding: 0 22px;
}

.topheaderIcon a i {
    color: #000;
    font-size: 20px;
    transition: .4s;
}

.topheaderIcon a i:hover {
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    background-color: burlywood;
}

/* top header part end */

/* top header banner  part start  */
#topHeaderbanner {
    padding-top: 125px;
    padding-bottom: 95px;
    background: url(../css/images/scandinavian-interior-mockup-wall-decal-background\ 1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.topBannerFlex {
    display: flex;
}

.topbannerleft {
    width: 50%;
}

.topbannerRight {
    width: 50%;
}

.topbannerRight {
    /* padding: 125px 0; */
    background-color: #FFF3E3;
}

.bannerPadding {
    padding: 41px;
}

.bannerh3 h3 {
    font-size: 16px;
    color: #333333;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.bannerh3 h1 {
    font-size: 52px;
    color: #B88E2F;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 62px;
    padding-right: 109px;
    padding-top: 22px;
    padding-bottom: 40px;
}

.bannerh3 p {
    font-size: 18px;
    color: #333333;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 28px;
    padding-right: 52px;
}

.bannerh3 a {
    background-color: #B88E2F;
    padding: 30px 97px;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    transition: .4s;
}

.bannerbutton {
    padding-top: 70px;
    padding-bottom: 70px;
}

.bannerbutton a:hover {
    color: darkcyan;

}

/* top header banner  part end*/

/* body part start  */
#paraWithImg {
    padding-bottom: 73px;
}

.bodypara {
    text-align: center;
    padding-top: 71px;
}

.bodypara h1 {
    font-size: 32px;
    color: #333333;
    font-family: "Poppins", sans-serif;
    font-weight: 700;

}

.bodypara h3 {
    padding-top: 20px;
    font-size: 20px;
    color: #666666;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.bodyFlex {
    display: flex;
    justify-content: space-between;
    padding-top: 65px;
}

.bodyImg1 {
    width: 30%;
}

.bodyImg2 {
    width: 30%;
}

.bodyImg3 {
    width: 30%;
}

.bodyimg1 img {
    width: 100%;
    transition: .4s;
}
.bodyimg1 img:hover{
    -webkit-box-shadow: 8px 8px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 8px 8px 7px 0px rgba(0,0,0,0.75);
box-shadow: 8px 8px 7px 0px rgba(0,0,0,0.75);
}

.bodyimg2 img {
    width: 100%;
    transition: .4s;
}
.bodyimg2 img:hover{
    -webkit-box-shadow: 8px 8px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 8px 8px 7px 0px rgba(0,0,0,0.75);
box-shadow: 8px 8px 7px 0px rgba(0,0,0,0.75);
}

.bodyimg3 img {
    width: 100%;
    transition: .4s;
}
.bodyimg3 img:hover{
    -webkit-box-shadow: 8px 8px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 8px 8px 7px 0px rgba(0,0,0,0.75);
box-shadow: 8px 8px 7px 0px rgba(0,0,0,0.75);
}


.bodyimg1 h2 {
    text-align: center;
    padding-top: 36px;
    font-size: 24px;
    color: #333333;
    font-family: "Poppins", sans-serif;
    font-weight: 600;

}

.bodyimg2 h2 {
    text-align: center;
    padding-top: 36px;
    font-size: 24px;
    color: #333333;
    font-family: "Poppins", sans-serif;
    font-weight: 600;

}

.bodyimg3 h2 {
    text-align: center;
    padding-top: 36px;
    font-size: 24px;
    color: #333333;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

/* body part  end  */

/* item  part start  */
#itemSellart{
    padding-bottom: 80px;
    text-align: center;
    font-size: 40px;
    font-family:"Poppins", sans-serif;
    font-weight: 700;
    color: #3A3A3A;
}
.itemsellFlex{
    display: flex;
    justify-content: space-between;
}
.itemsellFlex{
    width: 100%;
    padding-top: 40px;
}
.product1{
    width: 21.8%;
    background-color: #F4F5F7;
     transition: .4s; 
}

.product1:hover{
    -webkit-box-shadow: 8px 8px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 8px 8px 7px 0px rgba(0,0,0,0.75);
box-shadow: 8px 8px 7px 0px rgba(0,0,0,0.75);
} 
.productwrite{
  padding-top: 10px;
 padding-left: 20px;
}
.productwrite h5{
    font-size: 24px;
    font-family:"Poppins", sans-serif;
    font-weight: 600;
    color: #3A3A3A;
    padding-right: 205px;
}
.productwrite h6{
    font-size: 16px;
    font-family:"Poppins", sans-serif;
    font-weight: 500;
    color: #898989;
    padding-top: 15px;
    padding-right: 130px;
}
.prodctprizeFlex{
    display: flex;
}
.price1 p{
    font-size: 20px;
    font-family:"Poppins", sans-serif;
    font-weight: 600;
    color: #3A3A3A;
    padding-top: 20px;
    padding-bottom: 20px;
}
.price2 p{
    font-size: 16px;
    font-family:"Poppins", sans-serif;
    font-weight: 400;
    color: #B0B0B0;
    padding-top: 20px;
    padding-left: 20px;
}
.price2 p{
    position: relative;
}
.price2 p::before{
    position: absolute;
    height: 1px;
    width: 99px;
    background-color: #898989;
    content: "";
    top: 25px;
    left: 20px;
}
.itemflex2{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.productwrite h3{
    font-size: 16px;
    font-family:"Poppins", sans-serif;
    font-weight: 500;
    color: #898989;
    padding-top: 15px;
    padding-right: 175px;
}
.productwrite h4{
    font-size: 16px;
    font-family:"Poppins", sans-serif;
    font-weight: 500;
    color: #898989;
    padding-top: 15px;
    padding-right: 44px;
}
.productwrite h2{

    font-size: 16px;
    font-family:"Poppins", sans-serif;
    font-weight: 500;
    color: #898989;
    padding-top: 15px;
    padding-right: 180px;
}
.productwrite h1{
    font-size: 16px;
    font-family:"Poppins", sans-serif;
    font-weight: 500;
    color: #898989;
    padding-top: 15px;
    padding-right: 164px;
}
.h7 p{
    font-size: 16px;
    font-family:"Poppins", sans-serif;
    font-weight: 500;
    color: #898989;
    padding-top: 15px;
    padding-right: 100px; 
}
/* item  part end  */

/* item btton part start  */

#itembutton{
    padding-bottom: 60px;
    text-align: center;
}
.showbutton{
    border: 2px solid #B88E2F;
}
a{
    padding: 30px 100px;
    font-size: 18px;
    font-family:"Poppins", sans-serif;
    font-weight: 600;
    color: #B88E2F;
}
/* item button part end  */

/* body part start  */
#bodypart{
    padding-bottom:25px;
    background-color: #FCF8F3;
}
.bodycolorflex{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.bodyFlex1{
    width: 35%;
}
.bodyFlex2{
    width: 65%;
}
.bodyflexpart1{
    width: 100%;
    padding-top: 200px;
}
.bodyflexpart1 h1{
    color: #3A3A3A;
    font-size: 40px;
    font-weight: 700;
    font-family:"Poppins", sans-serif;
    padding-right: 47px;
    line-height: 50px;

}
.bodyflexpart1 p{
    color: #616161;
    font-size: 16px;
    font-weight: 500;
    font-family:"Poppins", sans-serif;
    padding-right: 102px;
    line-height: 22px;
    padding-top: 10px;
}
.flexancor{
    padding-top: 35px;
}

.flexancor a{
   padding: 30px 70px;
   color: #FFFFFF;
   background-color: #B88E2F;
}
.bodyfleximg{
    width: 100%;
    display: flex;
    padding-top: 50px;
}
.bodyp{
    padding-left: 50px;
}
.body img{
    position: absolute;
}
.bodypa{
    padding-left: 25px;
}
.bodyicontag i{
    padding: 10px 10px;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #B88E2F;
    font-size: 20px;
    position: absolute;

}
.bodyicontag{
    padding-left: 20px;
    position: absolute;
}
.bodyicontag a{
 
}


/* baki ache  */


/* body part end  */

/* fuull body photo part start  */
#fullbodyimg{
    position: relative;
    padding-bottom: 65px;
}

.fullbodywrite{
    text-align: center;
    padding-top: 55px;
}
.fullbodywrite h3{
color: #616161;
font-size: 20px;
font-weight: 600;
font-family:"Poppins", sans-serif;
}
.fullbodywrite h2{
    color:#3A3A3A;
    padding-top: 20px;
    font-size: 40px;
    font-weight: 700;
    font-family:"Poppins", sans-serif;
}
.fullbody1 img{
    position: absolute;
}
.fullbody2{
    padding-top: 400px;
    position: absolute;
}
.fullbody2 img{
    position: absolute;
}
.fullbody3 img{
    position: absolute;
}
.fullbody3 img{
    position: absolute;
    padding-left: 94px;
    padding-top: 70px;
}
.fullbody4 img{
    position: absolute;
    padding-left: 201px;
}
.fullbody5 img{
    position: absolute;
    padding-left: 559px;
    padding-top: 154px;
}
.fuullbody6 img{
    position: absolute;
    padding-left: 870px;
    padding-top: 98px;
}
.fullbody7 img{
    position: absolute;
    padding-left: 871px;
    padding-top: 462px;
}
.fullbody7{
    position: absolute;
}
.fllbody8 img{
    position: absolute;
    padding-top: 463px;
    padding-left: 1066px;
}
.fuullbody9{
    position: absolute;
    padding-left: 1173px;
    padding-top: 13px
}
/* fuull body photo part end  */


/* top header part start  */
#furniroAboutPart{
  padding-top: 700px;
  padding-bottom: 700px;
}
.biglinepart{
    height: 1px;
    width: 100%;
    background-color: #9F9F9F;
}
.biglineflex{
    display: flex;
    width: 100%;
    padding-top: 45px;
}
.biglinepart1{
    width: 23%;
}
.bigline1{
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    font-family:"Poppins", sans-serif;
    color: #000000;

}
.bigline2{
padding-top: 45px;
}
.bigline2 h4{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    font-family:"Poppins", sans-serif;
    color: #9F9F9F;
    line-height: 22px;

}
.bigline2 h5{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    font-family:"Poppins", sans-serif;
    color: #9F9F9F;
    padding-top: 5px;

}
.biglinepart2{
    width: 23%;
}
.biglineMenu2{
    width: 100%;
    padding-left: 100px;
}
.biglineMenu2 h4{
    font-size: 16px;
    font-weight: 500;
    font-family:"Poppins", sans-serif;
    color: #9F9F9F;
}
.biglinepart3{
    width: 23%;
}
.biglinepart4{
    width: 23%;
}
.biglinemenu3{
    padding-top: 30px;
}
.biglinemenu3 ul li a{
    padding: 25px 0;
    color:#000000;
    font-size: 16px;
    font-weight: 500;
    font-family:"Poppins", sans-serif;
    transition: .4s;
}

.biglinemenu3 ul li a:hover{
    color: #B88E2F;
}
.biglinepartmsg{
    padding-top: 35px;
}
.biglinepartmsg p{
    color:#000000;
    font-size: 16px;
    font-weight: 400;
    font-family:"Poppins", sans-serif;
}




/* top header part start  */
/* top header part start  */
/* top header part start  */
/* top header part start  */
/* top header part start  */